@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<AAMPS.Clients.ViewModels.Development.DevelopmentViewModel>

<div class="jumbotron" style="background-color:#eee; margin-top:0px; padding-bottom:10px;margin-top:20px">
    <div class="row text-center" style="margin-top:-40px">
        <button id="btnHome" onclick="window.location.href='@Url.Action("HomePage","Development")'" class="btn btn-primary btn-sm pull-left" type="button" style="margin-top:15px" data-toggle="tooltip" data-placement="top" title="return home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;HOME</button>
        <button id="btnBack" onclick="window.location.href='@Url.Action("Dashboard","Development")'" class="btn btn-primary btn-sm pull-right" type="button" style="margin-top:15px" data-toggle="tooltip" data-placement="top" title="return to dashboard"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>&nbsp;Go Back</button>
        <h3 style="font-size:1.49em;font-weight:bold">Development Dashboard for @Session["DevelopmentName"].ToString() </h3>
    </div>
    <fieldset>
        <div class="row text-center">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <table style="font-size:0.8em; font-weight:400;margin-top:10px" class="table-striped text-center">
                    <thead>
                        <tr>
                            <td class="col-md-4"><b>Status</b></td>
                            <td class="col-md-4"><b>QTY</b></td>
                            <td class="col-md-4"><b>Value</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-4">Available</td>
                            <td class="col-md-4">@Session["TotalUnitsAvailable"].ToString()</td>
                            <td class="col-md-4"><label id="lblTotalUnitsAvailablePrice">@Session["TotalUnitsAvailablePrice"].ToString()</label></td>
                        </tr>
                        <tr>
                            <td class="col-md-4">Reserved</td>
                            <td class="col-md-4">@Session["TotalUnitsReserved"].ToString()</td>
                            <td class="col-md-4"><label id="lblTotalUnitsReservedPrice">@Session["TotalUnitsReservedPrice"].ToString()</label></td> 
                        </tr>
                        <tr>
                            <td class="col-md-4">Pending</td>
                            <td class="col-md-4">@Session["TotalUnitsPending"].ToString()</td>
                            <td class="col-md-4"><label id="lblTotalUnitsPendingPrice">@Session["TotalUnitsPendingPrice"].ToString()</label></td> 
                        </tr>
                        <tr>
                            <td class="col-md-4">Sold</td>
                            <td class="col-md-4">@Session["TotalUnitsSold"].ToString()</td>
                            <td class="col-md-4"><label id="lblTotalUnitsSoldPrice">@Session["TotalUnitsSoldPrice"].ToString()</label></td>
                        </tr>
                        <tr>
                            <td class="col-md-4"><b>Total Units</b></td>
                            <td class="col-md-4"><span class="badge"><b>@Session["TotalUnits"].ToString()</b></span></td>
                            <td class="col-md-4"><span class="badge"><b><label id="lblTotalUnitsPrice">@Session["TotalUnitsPrice"].ToString()</label></b></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div id="chart"></div>
            </div>
        </div>

    </fieldset>

</div>
<div class="row">
    <p class="text-center" id="buttonsDashBoard">
        <button type="button" class="btn btn-primary btn-lg" id="btnAvailableUnits">RESERVATIONS</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="showReservations('notavailable')">UPDATE SALES INFO</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="showBonds()">BONDS</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="showReports()">REPORTS</button>

    </p>
    <br /><br />
    <span id="progress" class="progress hide">
        <img style="height:20px" src="~/Images/ajax-loader.gif" />
        <span class="disabledControls">Processing...</span>
    </span> 
    <select class="selectpicker show-tick show-menu-arrow pull-right" title='[ Filter by Agent ]' id="selectfilteragentunits" style="width:auto;height:auto" name="filteragentunits"></select>

    <br /><br />
      <div id="divAgentUnitsResults">
          @{Html.RenderPartial("~/Views/Development/_DashboardUnits.cshtml", Model);}
      </div>
</div>

<div class="modal fade" id="ReservationDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="ReservationDetailsForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="window.location.href='@Url.Action("Dashboard","Development")'"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modalEdit">Available Units</h4>
                </div>
                <div class="modal-body">
                    <div class="row" id="divAvailableUnits">
                        @{Html.RenderPartial("~/Views/Development/_AvailableUnits.cshtml", Model);}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="window.location.href='@Url.Action("Dashboard","Development")'">Cancel</button>
                </div>

            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="ReservationDetailsModalNotAvailable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="ReservationDetailsForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="window.location.href='@Url.Action("Dashboard","Development")'"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modalEdit">Units in Sales Process</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <table class="table table-condensed" id="tableReservedPendingSoldUnits">
                            <thead class="datagrid">
                                <tr>
                                    <th class="dark-orange">
                                        Unit Number
                                    </th>
                                    <th class="dark-orange">
                                        Unit Block
                                    </th>
                                    <th class="dark-orange">
                                        Unit Floor
                                    </th>
                                    <th class="dark-orange">
                                        Unit Price
                                    </th>
                                    <th class="dark-orange">
                                        Unit Size
                                    </th>
                                    <th class="dark-orange">
                                        Unit Status
                                    </th>
                                </tr>
                            </thead>

                            @foreach (var item in Model.Where(c => c.UnitStatusId != 1).OrderBy(c => c.UnitStatusId))
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            @item.UnitNumber
                                        </td>
                                        <td>
                                            @item.UnitBlock
                                        </td>
                                        <td>
                                            @item.UnitFloor
                                        </td>
                                        <td>
                                            <label id="lblUnitPriceReservedPendingSold">@item.UnitPriceIncluding</label>
                                        </td>
                                        <td>
                                            @item.UnitSize
                                        </td>
                                        <td>
                                            @item.UnitStatusID
                                        </td>
                                        <td>
                                            <a class="orange" onclick="ViewNotAvailableUnits(@item.UnitId)"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;View Unit</a>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="window.location.href='@Url.Action("Dashboard","Development")'">Cancel</button>
                </div>

            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="ReservationDetailsSoldModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="ReservationDetailsForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="window.location.href='@Url.Action("Dashboard","Development")'"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modalEdit">Sold Units</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <table class="table table-condensed" id="tableSoldUnits">
                            <thead class="datagrid">
                                <tr>
                                    <th class="dark-orange">
                                        Unit Number
                                    </th>
                                    <th class="dark-orange">
                                        Unit Block
                                    </th>
                                    <th class="dark-orange">
                                        Unit Floor
                                    </th>
                                    <th class="dark-orange">
                                        Unit Price
                                    </th>
                                    <th class="dark-orange">
                                        Unit Size
                                    </th>
                                </tr>
                            </thead>


                            @foreach (var item in Model.Where(c => c.UnitStatusId == 4 || c.UnitStatusId == 6))
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            @item.UnitNumber
                                        </td>
                                        <td>
                                            @item.UnitBlock
                                        </td>
                                        <td>
                                            @item.UnitFloor
                                        </td>
                                        <td>
                                            <label id="lblUnitPriceSold">@item.UnitPriceIncluding</label>
                                        </td>
                                        <td>
                                            @item.UnitSize
                                        </td>
                                        <td>
                                            <a class="orange" onclick="ViewBondDetails(@item.UnitId)"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;Bond Details</a>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="window.location.href='@Url.Action("Dashboard","Development")'">Cancel</button>
                </div>

            </div>
        </div>
    </form>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/d3.js"></script>
<script src="~/Scripts/c3.js"></script>
<script src="~/Scripts/app/development/development.js"></script>
<link href="~/Content/c3.css" rel="stylesheet" />
<script type="text/javascript">
    var route = ""
        
    function ViewBondDetails(id) {
        window.location.href = route + "/Bonds/Details/" + id;
    }
    function ViewNotAvailableUnits(id) {
        window.location.href = route + "/Sales/Details/" + id;
    }
    function ViewAvailableUnits(id) {
        window.location.href = route + "/Sales/Details/" + id;
    }
    function showReservations(context) {

        if (context == "notavailable") {
            $('#ReservationDetailsModalNotAvailable').modal('show');
        }
    }

    function showBonds() {
        $('#ReservationDetailsSoldModal').modal('show');
    }

    function showReports() {
        window.location.href = '@Url.Action("Index", "Report")';
    }

    function formatNumber(num) {
        return "R " + num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
    }

    function currencyFormat(num) {
        return "R" + num.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
    }


    function FormatSummaryTotalsCurrency()
    {
        $("#lblTotalUnitsAvailablePrice").html(formatNumber($("#lblTotalUnitsAvailablePrice").html()));
        $("#lblTotalUnitsReservedPrice").html(formatNumber($("#lblTotalUnitsReservedPrice").html()));
        $("#lblTotalUnitsPendingPrice").html(formatNumber($("#lblTotalUnitsPendingPrice").html()));
        $("#lblTotalUnitsSoldPrice").html(formatNumber($("#lblTotalUnitsSoldPrice").html()));
        $("#lblTotalUnitsPrice").html(formatNumber($("#lblTotalUnitsPrice").html()));

     
        $("table#availableUnits > tbody > tr").each(function () {
            $(this).find('td:eq(3)').html(formatNumber($("#lblUnitPriceAvailableUnits").html()));
        });
        $("table#tableReservedPendingSoldUnits > tbody > tr").each(function () {
            $(this).find('td:eq(3)').html(formatNumber($("#lblUnitPriceReservedPendingSold").html()));
        });
        $("table#tableSoldUnits > tbody > tr").each(function () {
            $(this).find('td:eq(3)').html(formatNumber($("#lblUnitPriceSold").html()));
        });
        
    }


</script>

<script type="text/javascript">
    $(function () {

        var development = new Development();
        development.load();

        $("#developmentLogo").removeClass('hide');
        $("#developmentLogo").attr("src", '@Url.Content("~/Images/" + Session["DevelopmentImage"].ToString())');

        FormatSummaryTotalsCurrency();

    });
</script>

