
@{
    ViewBag.Title = "HomePage";
}

<div class="jumbotron" style="background-color:#eee; margin-top:0px;padding-top:5px;padding-bottom:5px;margin-top: 20px;">
    <div class="row text-center">
        <h3>PLEASE SELECT YOUR DEVELOPMENT</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <a href='@Url.Action("Dashboard", "Development")'><img class="img-thumbnail" src='@Url.Content("~/Images/Dunnottar_Estate_Logo.jpg")' style="width:100%;height:150px" /></a>
    </div>
    <div class="col-md-3">
        <a href='@Url.Action("Dashboard", "Development")'><img class="img-thumbnail" src='@Url.Content("~/Images/ParkView_Estate_Logo.jpg")' style="width:100%;height:150px" /></a>
</div>
    <div class="col-md-3">
        <a href='@Url.Action("Dashboard", "Development")'><img class="img-thumbnail" src='@Url.Content("~/Images/Yellowwood_Estate_Logo.gif")' style="width:100%;height:150px" /></a>
</div>
    <div class="col-md-3">
        <a href='@Url.Action("Dashboard", "Development")'><img class="img-thumbnail" src='@Url.Content("~/Images/DevRegimentsTrimmed.jpg")' style="width:100%;height:150px" /></a>
    </div>
</div>
<br /><br />
 