@{
    ViewBag.Title = "Reservations";
    Layout = "_LayoutDevelopment.cshtml";
}

@model IEnumerable<ProjectAamps.Web.AampService.Unit>


<div class="modal fade" id="ReservationDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="ReservationDetailsForm" @*method="post" action="@Url.Action("Create","ManageEmployees")"*@>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="window.location.href='@Url.Action("Dashboard","Development")'"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modalEdit">Available Bookings</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <table class="table table-condensed" id="tableApps">
                            <thead class="datagrid">
                                <tr>
                                    <th class="dark-orange">
                                        Unit Number
                                    </th>
                                    <th class="dark-orange">
                                        Unit Block
                                    </th>
                                    <th class="dark-orange">
                                        Unit Floor
                                    </th>
                                    <th class="dark-orange">
                                        Unit Price
                                    </th>
                                    <th class="dark-orange">
                                        Unit Size
                                    </th>
                                </tr>
                            </thead>


                            @foreach (var item in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            @item.UnitNumber
                                        </td>
                                        <td>
                                            @item.UnitBlock
                                        </td>
                                        <td>
                                            @item.UnitFloor
                                        </td>
                                        <td>
                                            R @item.UnitPrice
                                        </td>
                                        <td>
                                            @item.UnitSize
                                        </td>
                                        <td>
                                            <a class="orange" onclick="window.location.href='@Url.Action("Details", "Sales", new { id = @item.UnitID })'"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;View Details</a>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location.href='@Url.Action("Dashboard","Development")'">Cancel</button>
                </div>

            </div>
        </div>
    </form>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            
            $('#ReservationDetailsModal').modal('show');

        });
    </script>
    <script type="text/javascript">
        function GetSaleUnitDetails(id) {
            var url = "http://localhost:3349/Sales/Details";
            $.ajax({
                url: url,
                type: 'POST',
                datatype: 'json',
                data: id,
                success: function (data) {
                   
                }
            });
            }
    </script>
}


