<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row" style="margin-bottom: 5px; margin-top: 5px">
                <div class="col-md-2 pull-left" style="margin-left:-15px; ">
                    <a href='@Url.Action("HomePage","Development")'><img class="img-thumbnail" src='@Url.Content("~/Images/SmitIncLogo.png")' alt="DEVELOPMENT LOGO" style="height:100px;" /></a>
                </div>
                <div class="col-md-7" style="margin-top: 20px;padding-left:60px">
                    <h3 style="font-size:1.76em; font-weight:bold">SMITH SEWGOOLAM INCORPORATED ATTORNEYS AND CONVEYANCERS</h3>
                </div>
                <div class="col-md-3" style="margin-top: 15px;">
                    <div style="padding-left: 40px;">
                        <span style="font-size:13px;font-weight:bold">Welcome, <span id="currentUser"></span></span>
                    </div>
                    <div style="margin-top: -18px;">
                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm" class="pull-right dark-orange"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <footer style="background-color: #c3c3c3" class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="~/Images/aamps.gif" style="height:40px;padding-left:5px;margin-bottom:5px" class="pull-right" />
                    <h6 class="text-right" style="margin-right: 10px; padding-top:18px"><span class="text-left pull-left"><b>Welcome to Aamps, Your online Management Property System</b></span> Access Africa (Pty) Ltd (c) 2015</h6>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm" style="width:400px">
            <div class="modal-content">
                <div class="modal-header"><h4>Logout <i class="fa fa-lock"></i></h4></div>
                <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to log-off?</div>
                <div class="modal-footer">
                    @*<a href="javascript:;" class="btn btn-primary btn-block">Logout</a>*@
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="button" onclick="LogoutUser()" class="btn btn-primary">Logout</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    function LogoutUser() {
        var url = '@Url.Action("CloseCurrentSession", "Account")';
        $.ajax({
            url: url,
            type: 'POST',
            async: true,
            cache: false,
            data: {},
            success: function () {
                location.href = '@Url.Action("Login", "Account")';
            },
            error: function (exception) {
                console.log(exception);
            }

        });
    }
</script>
<script type="text/javascript">
    $(function () {

        $.ajax({
            url: '@Url.Action("GetCurrentUser", "Account")',
            type: 'GET',
            datatype: 'json',
            data: {},
            success: function (data) {
                $("#currentUser").html(data);
            }
        });
    });
</script>