@{
    ViewBag.Title = "Login";
    Layout = null;
}
@*@Styles.Render("~/Content/bootstrap")*@
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href="~/Content/toastr.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />

<div class="container" style="margin-top: 40px">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="panel panel-default" style="margin-top:25%">
                <div class="panel-heading">
                    <strong>Sign in to continue</strong>
                </div>
                <div class="panel-body">
                    <form id="LoginForm" role="form" method="POST">
                        <fieldset>
                            <div class="row">
                                <div class="center-block">
                                    <img style="margin-left:30%" src='@Url.Content("~/Images/logo.PNG")' alt="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-user"></i>
                                            </span>
                                            <input class="form-control" placeholder="Username" name="UserName" type="text" autofocus>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-lock"></i>
                                            </span>
                                            <input class="form-control" placeholder="Password" name="Password" type="password" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <input type="button" class="btn btn-lg btn-primary btn-block" id="btnLogin" style="font-size:15px" value="Sign in">
                                            <div id="loader" class="spinner hide">
                                                <div class="bounce1"></div>
                                                <div class="bounce2"></div>
                                                <div class="bounce3"></div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="panel-footer ">
                    Don't have an account! <a href="#" onclick="">Sign Up Here </a>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/toastr.js"></script>

@section Scripts {
}

<script type="text/javascript">
    $(function () {
        $("#btnLogin").click(function () {
            AuthenticateUser();
          
        });
    });
</script>
<script>
    function AuthenticateUser() {
        var query = $("#LoginForm").serialize();
        console.log(query);

        var url = '@Url.Action("AuthorizeLogin", "Account")';
        $("#loader").removeClass("hide");
        $.ajax({
            url: url ,
            type: 'POST',
            async: true,
            cache: false,
            data: query,
            success: function (authenticated) {
                if (authenticated == 'True') {
                    console.log(authenticated);
                    toastr.success("User authenticated");
                    setTimeout(function () {
                        window.location.href = '@Url.Action("HomePage","Development")';
                    }, 2000);
                }
                if (authenticated == 'False') {
                    console.log(authenticated);
                    toastr.error("Access Denied!");
                }

            },
            complete: function(){
                $("#loader").addClass("hide");
            },
            error: function (exception) {
                console.log(exception);
            }
        });
    }
</script>
