@model IEnumerable<AAMPS.Clients.AampService.SalesReportQuery>
@{
    ViewBag.Title = "SalesReport";
    Layout = "~/Views/Report/_ReportLayout.cshtml";
}

<h4>Sales Report for </h4>
<table class="table table-bordered" id="tableSalesReport">
   <thead style="background-color:#000000; color:#ffffff">
       <tr>
           @*<td>Development</td>*@
           <td>Unit No</td>
           <td>Phase</td>
           <td>Price</td>
           <td>Type</td>
           <td>Status</td>
           <td>Agency</td>
           <td>Agent</td>
           <td>Purchaser</td>
           <td>Deposit</td>
           <td>Deposit Date</td>
           <td>Proof</td>
           <td>Cntr Signed</td>
           <td>Bond</td>
           <td>Bond Req</td>
           <td>Bond Amount Grant</td>
           <td>Granted</td>
           <td>Amount Due</td>
       </tr>
   </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
               @* <td>@item.Development</td>*@
                <td>@item.UnitNo</td>
                <td>@item.Phase</td>
                <td><label id="lblPrice">@item.Price</label></td>
                <td>@item.Type</td>
                <td>@item.Status</td>
                <td>@item.Agency</td>
                <td>@item.Agent</td>
                <td>@item.Purchaser</td>
                <td><label id="lblDeposit">@item.Deposit</label></td>
                <td>@item.DepositDate</td>
                <td>@item.Proof</td>
                <td>@item.CntrSigned</td>
                <td>@item.Bond</td>
                <td>@item.BondReq</td>
                <td>@item.BondAmountGrant</td>
                <td><label id="lblDateGranted">@item.Granted</label></td>
                <td>@item.AmountDue</td>
            </tr>
        </tbody>
    }
</table>

@section Scripts {
<script>
    $(function () {
        var resources = new Resources();
        resources.formatTableColumnRandValue("tableSalesReport", 2, "lblPrice");
        resources.formatTableColumnRandValue("tableSalesReport", 8, "lblDeposit");
        resources.formatTableColumnDateValue("tableSalesReport", 15, "lblDateGranted");
    });
</script>

}



